{
  "extends"     : "airbnb/base",
  "plugins"     : [
    "angular"
  ],
  "env"         : {
    "es6"    : true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals"     : {
    "angular": true,
    "module" : true,
    "inject" : true,
    "$"      : true,
    "_"      : true
  },
  "rules"       : {
    "angular/log"                     : 0,
    "angular/document-service"        : 0,
    "angular/no-jquery-angularelement": 0,
    "no-console"                      : 0
  }
}
