<div class="container">
  <form action="/">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">

          <label for="name">Name</label>
          <select class="form-control" id="name" ng-model="rfpdetails.customer" ng-change="rfpdetails.getRFP()" ng-options="CUSTOMER as CUSTOMER.CUSTOMERNAME for CUSTOMER in rfpdetails.CUSTOMERNAME_option">
        </select>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="contact">Contact details</label>
          <input type="text" class="form-control" id="contact" placeholder="Contact" ng-model="rfpdetails.customer.CONTACTNO">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="contactperson">Contact person</label>
          <input type="text" class="form-control" id="contactperson" placeholder="Contact person" ng-model="rfpdetails.customer.CONTACTPERSON">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Address" ng-model="rfpdetails.customer.ADDRESS">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="totallogistics">Total logistics spend(In Lakhs)</label>
          <input type="text" class="form-control" id="totallogistics" placeholder="Total logistics spend(In Lakhs)">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="cashaccountid">CASSH account id</label>
          <input type="text" class="form-control" id="cashaccountid" placeholder="CASSH account id" ng-required ng-model="rfpdetails.customer.CASHACCOUNTID">
        </div>
      </div>
    </div>
    <fieldset>
      <legend>RFP DETAILS</legend>
    </fieldset>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Description" ng-required ng-model="rfpdetails.overall.RFPDESC">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="rfpvalue">RFP value (In Lakhs)</label>
          <input type="text" class="form-control" id="rfpvalue" ng-required placeholder="RFP value(In Lakhs)">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="recivedate">Receive date</label>
          <input type="date" class="form-control" id="recivedate" placeholder="Receive date" ng-required ng-model="rfpdetails.overall.STARTDATE">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="duedate">Due date</label>
          <input type="date" class="form-control" id="duedate" placeholder="Due date" ng-required ng-model="rfpdetails.overall.DUEDATE">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="casshopportunityid">CASSH Opportunity ID</label>
          <input type="text" class="form-control" id="casshopportunityid" placeholder="CASSH Opportunity ID" ng-required ng-model="rfpdetails.overall.CASHOPPID">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="productdescription">Product description</label>
          <input type="text" class="form-control" id="productdescription" placeholder="Product description" ng-model="rfpdetails.overall.PRODUCTDESC">
        </div>
      </div>
    </div>

    <fieldset>
      <legend>OPERATION DESCRIPTION</legend>
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inboundoutbound">Inbound / outbound</label>
          <input type="text" class="form-control" id="inboundoutbound" placeholder="Inbound / outbound" ng-model="rfpdetails.overall.OPPRDOMAIN">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="movmenttype">Movment Type</label>
          <select class="form-control" id="movmenttype" ng-model="rfpdetails.overall.ISMULTIDROP" ng-options="movmenttype.name as movmenttype.val for movmenttype in rfpdetails.ISMULTIDROP_option">
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="multipointpickupdrop">Multi-point pickup / drop</label>
          <select class="form-control" id="multipointpickupdrop">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="warehousingrequirment">Warehousing requirment</label>
          <select class="form-control" id="warehousingrequirment" ng-required ng-model="rfpdetails.overall.ISHUBORWHREQ" ng-options="ISHUB.name as ISHUB.val for ISHUB in rfpdetails.ISHUBORWHREQ_option">
        </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="cargotype">Cargo Type </label>
          <select class="form-control" id="cargotype" ng-required ng-model="rfpdetails.overall.CARGOTYPE" ng-options="CARGO.name as CARGO.val for CARGO in rfpdetails.CARGOTYPE_option">
        </select>
        </div>
      </div>
    </div>

    <fieldset>
      <legend>CLEANSHEET ASSUMPTIONS</legend>
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="diselrate">Disel rate</label>
          <input type="text" class="form-control" id="diselrate" placeholder=" " ng-model="rfpdetails.overall.DIESELRATE">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ageofvehicles">Age of vehicles</label>
          <select class="form-control" id="ageofvehicles" ng-model="rfpdetails.overall.AGEOFTRUCK" ng-options="age.name as age.val for age in rfpdetails.AGEOFTRUCK_option"></select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="paymentterms">Payment terms</label>
          <input type="text" class="form-control" id="paymentterms" placeholder="Yes" ng-model="rfpdetails.overall.PAYMENTTERM">
        </div>
      </div>
    </div>

    <fieldset>
      <legend>COMMERCIAL DETAILS</legend>
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="unitofrate">Unit of rate</label>
          <select class="form-control" id="unitofrate" ng-required ng-model="rfpdetails.overall.RATEUOM" ng-options="UOM.name as UOM.val for UOM in rfpdetails.RATEUOM_option">
            </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="penalties">Penalties</label>
          <input type="text" class="form-control" id="penalties" placeholder="" ng-model="rfpdetails.overall.PENALITIES">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="detention">Detention</label>
          <input type="text" class="form-control" id="detention" placeholder=" " ng-model="rfpdetails.overall.DETENTION">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="loadingunloadingtime">Loading unloading time</label>
          <input type="text" class="form-control" id="loadingunloadingtime" placeholder="">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Next</button>

  </form>
</div>
