<div ng-init="rfpdetails.init()">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    <h1>Create new <abbr title="Request for praposal">RFP</abbr></h1></div>
    <div class="col-sm-4 text-center">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-rounded active">
          <input name="togglebutton" disabled="true" type="checkbox" autocomplete="off" checked>Overall Details
        </label>
        <label class="btn btn-default btn-rounded">
          <input name="togglebutton" disabled="true" type="checkbox" autocomplete="off"> Lane Details
        </label>
      </div>
    </div>
  </div>
  <div class="form-divider"></div>
</div>
<form ng-submit="rfpdetails.addRfpHeader()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <fieldset class="fieldset">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <legend class="legend top-legend">
                  CUSTOMER DETAILS
                  <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Add Customer</button>
                </legend>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" title="required" for="name">Name <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <select class="form-control input-sm" id="name" ng-model="rfpdetails.customer" ng-options="CUSTOMER as CUSTOMER.CUSTOMERNAME for CUSTOMER in rfpdetails.CUSTOMERNAME_option">
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" for="contact">Contact details</label>
                  <input type="text" class="form-control input-sm" id="contact" placeholder="Contact" ng-model="rfpdetails.customer.CONTACTNO" ng-disabled="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" for="contactperson">Contact person</label>
                  <input type="text" class="form-control input-sm" id="contactperson" placeholder="Contact person" ng-model="rfpdetails.customer.CONTACTPERSON" ng-disabled="true">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" for="address">Address</label>
                  <input type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="rfpdetails.customer.ADDRESS" ng-disabled="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" for="totallogistics">Total logistics spend(In Lakhs)</label>
                  <input type="number" class="form-control input-sm" id="totallogistics" placeholder="Total logistics spend(In Lakhs)" ng-disabled="true">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" title="required" for="cashaccountid">CA$$H Account ID <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <input type="text" class="form-control input-sm" id="cashaccountid" placeholder="CA$$H account id" ng-required="true" ng-model="rfpdetails.customer.CASHACCOUNTID" ng-disabled="true">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <legend class="legend">RFP DETAILS</legend>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="casshopportunityid">CA$$H Opportunity ID <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <input type="text" class="form-control input-sm" id="casshopportunityid" placeholder="CA$$H Opportunity ID" ng-required="true" ng-model="rfpdetails.overall.CASHOPPID">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="rfpvalue">RFP value (In Lakhs)<i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <input type="number" step="0.01" class="form-control input-sm" id="rfpvalue" ng-required="true" placeholder="RFP value(In Lakhs)">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" title="required" for="description">Description <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <input type="text" class="form-control input-sm" id="description" placeholder="Description" ng-required="true" ng-model="rfpdetails.overall.RFPDESC">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="recivedate">Receive date <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <input type="date" class="form-control input-sm" id="recivedate" placeholder="yyyy-MM-dd" ng-required="true" ng-model="rfpdetails.overall.STARTDATE">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="duedate">Due date <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <input type="date" class="form-control input-sm" id="duedate" placeholder="Due date" ng-required="true" ng-model="rfpdetails.overall.DUEDATE">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="form-label" for="productdescription">Product description</label>
                  <input type="text" class="form-control input-sm" id="productdescription" placeholder="Product description" ng-model="rfpdetails.overall.PRODUCTDESC">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <legend class="legend">OPERATION DESCRIPTION</legend>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="cargotype">Cargo Type <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <select class="form-control input-sm" id="cargotype" ng-required="true" ng-model="rfpdetails.overall.CARGOTYPE" ng-options="CARGO.name as CARGO.val for CARGO in rfpdetails.CARGOTYPE_option">
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="movmenttype">Movement Type</label>
                  <select class="form-control input-sm" id="movmenttype" ng-model="rfpdetails.overall.DISTRIBUTIONTYPE" ng-options="movmenttype.name as movmenttype.val for movmenttype in rfpdetails.DISTRIBUTIONTYPE_option">
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="multipointpickupdrop">Multi-point pickup / drop</label>
                  <select class="form-control input-sm" id="multipointpickupdrop" ng-model="rfpdetails.overall.ISMULTIDROP" ng-options="ISMULTI.val as ISMULTI.name for ISMULTI in rfpdetails.ISMULTIDROP_option">
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="warehousingrequirment">Warehousing requirment <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <select class="form-control input-sm" id="warehousingrequirment" ng-required="true" ng-model="rfpdetails.overall.ISHUBORWHREQ" ng-options="ISHUB.val as ISHUB.name for ISHUB in rfpdetails.ISHUBORWHREQ_option">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="inboundoutbound">Inbound / outbound <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <select class="form-control input-sm" id="inboundoutbound" ng-required="true" ng-model="rfpdetails.overall.OPPRDOMAIN" ng-options="inboundoutbound.name as inboundoutbound.val for inboundoutbound in rfpdetails.OPPRDOMAIN_option">
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="distance">Proximity distance (%)</label>
                  <input t
                  ype="number" min="0" max="100" maxlength="3" class="form-control input-sm" id="distance" placeholder="Distance" ng-model="rfpdetails.overall.PROXIDISTANCE">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <legend class="legend">CLEANSHEET ASSUMPTIONS</legend>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="paymentterms">Payment terms (days) <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                <select class="form-control input-sm" id="paymentterms" ng-model="rfpdetails.overall.PAYMENTTERM" ng-options="payment.name as payment.val for payment in rfpdetails.PAYMENTTERM_option"></select>
                <!--  <input type="number" class="form-control input-sm" id="paymentterms" placeholder="Payment terms" ng-model="rfpdetails.overall.PAYMENTTERM"> -->
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" for="diselrate">Diesel rate (Rs/Litre)</label>
                <input type="number" maxlength="5" class="form-control input-sm" id="diselrate" placeholder="Diesel rate (Rs/Litre) " ng-model="rfpdetails.overall.DIESELRATE">
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" for="ageofvehicles">Age of vehicles (yrs)</label>
              <select class="form-control input-sm" id="ageofvehicles" ng-model="rfpdetails.overall.AGEOFTRUCK" ng-options="age.name as age.val for age in rfpdetails.AGEOFTRUCK_option"></select>
            </div>
          </div>
          <!-- <div class="col-sm-3 col-md-3">
            <div class="form-group">
              <label class="form-label" for="distance">Proximity distance (%)</label>
              <input t
              ype="number" min="0" max="100" maxlength="3" class="form-control input-sm" id="distance" placeholder="Distance" ng-model="rfpdetails.overall.PROXIDISTANCE">
            </div>
          </div> -->
        </div>
      </fieldset>
      <fieldset class="fieldset">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <legend class="legend">COMMERCIAL DETAILS</legend>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" title="required" for="unitofrate">Unit of rate <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                <select class="form-control input-sm" id="unitofrate" ng-required="true" ng-model="rfpdetails.overall.RATEUOM" ng-options="UOM.name as UOM.val for UOM in rfpdetails.RATEUOM_option">
                </select>
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" for="penalties">Penalties</label>
                <input type="text" class="form-control input-sm" id="penalties" placeholder="" ng-model="rfpdetails.overall.PENALITIES">
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" for="detention">Detention</label>
                <input type="text" class="form-control input-sm" id="detention" placeholder=" " ng-model="rfpdetails.overall.DETENTION">
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" for="loadingunloadingtime">Loading unloading time (days)</label>
                <input type="number" class="form-control input-sm" id="loadingunloadingtime" placeholder="">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Add Cusomer -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="fieldset" class="form-group">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="customercode">Customer code</label>
                    <input type="text" class="form-control input-sm" id="customercode" placeholder="Customer code" ng-model="rfpdetails.newCustomer.CUSTOMERCODE">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="customername">Customer name</label>
                    <input type="text" class="form-control input-sm" id="customername" placeholder="Customer name" ng-model="rfpdetails.newCustomer.CUSTOMERNAME">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="address">Address</label>
                    <textarea type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="rfpdetails.newCustomer.ADDRESS" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="rfpdetails.newCustomer.EMAIL">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactperson">Contact person</label>
                    <input type="text" class="form-control input-sm" id="contactperson" placeholder="Contact person" ng-model="rfpdetails.newCustomer.CONTACTPERSON">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactno">Contact no</label>
                    <input type="number" class="form-control input-sm" id="contactno" placeholder="Contact no" ng-model="rfpdetails.newCustomer.CONTACTNO">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactperson">CA$$H Account ID</label>
                    <input type="text" class="form-control input-sm" id="casshaccountid" placeholder="CA$$H Account ID" ng-model="rfpdetails.newCustomer.CASHACCOUNTID">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactno">Total Spend</label>
                    <input type="number" class="form-control input-sm" id="totalspend" placeholder="Total Spend" ng-model="rfpdetails.newCustomer.TOTALSPEND">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-if="rfpdetails.editingIndex==null" class="btn btn-primary" data-dismiss="modal" ng-click="rfpdetails.addCustomer()">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Add Cusomer -->
