 <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Name</label>
                   <div>
                        {{rfpoutput.nameoutputdata.CUSTOMERNAME}}
                   </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="address">Address</label>
                  <div>
                        {{rfpoutput.nameoutputdata.ADDRESS}}
                   </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="contactdetails">Contact details</label>
                   <div>
                        {{rfpoutput.nameoutputdata.CONTACTNO}}
                   </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="contactperson">Contact person</label>
                   <div>
                      {{rfpoutput.nameoutputdata.CONTACTPERSON}}
                   </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="totallogisticsspend">Total logistics spend(In Lakhs)</label>
                   <div>
                       {{rfpoutput.nameoutputdata.TOTALSPEND}}
                   </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="casshaccountid">CASSH account id</label>
                   <div>
                       {{rfpoutput.nameoutputdata.CASHACCOUNTID}}
                   </div>
                </div>
              </div>
            </div>
            </div>

    <div class="row">
        <div class="col-md-2">
           <div class="form-group">
                <label for="from">From</label>
                 <select class="form-control" id="from" ng-model="rfpoutput.nameoutputdata.FROMLOCATIONNAME" ng-change="rfpdetails.getRFP()" ng-options="from as from.FROMLOCATIONNAME for from in rfpoutput.from_option">
                </select>
                </div>
              </div>

          <div class="col-md-2">
           <div class="form-group">
                <label for="trucktype">Truck Type</label>
                 <select class="form-control" id="trucktype" ng-model="rfpoutput.nameoutputdata.FROMLOCATIONNAME" ng-change="rfpdetails.getRFP()" ng-options="from as from.FROMLOCATIONNAME for from in rfpoutput.from_option">
                </select>
                </div>
              </div>
      </div>

<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Truck Type</th>
            <th>Cleansheet Rate</th>
            <th>Contract Rate</th>
            <th>ShipEx Rate</th>
            <th>PreviousRFP Rate</th>
            <th>Market Rate</th>
            <th>Backhaul Available</th>

            <th >BA Qute</th>
            <!-- <th >L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>L4</th>
            <th>L5</th> -->

            <th>Cleansheet Backhaul %</th>
            <th>Approved Rate</th>
          </tr>
        </thead>
        <tbody>
           <tr ng-repeat="outputdata in rfpoutput.outputdata" ng-click="rfpoutput.click()">

           <td>{{outputdata.FROMLOCATIONNAME}}</td>
           <td>{{outputdata.TOLOCATIONNAME}}</td>
           <td>{{outputdata.VEHICLETYPENAME}}</td>
           <td>{{outputdata.CLEANSHEETRATE}}</td>
           <td>{{outputdata.CONTRACTRATE}}</td>
           <td>{{outputdata.SHIPXRATE}}</td>
           <td>{{outputdata.PVSRFPRATE}}</td>
           <td>{{outputdata.MARKETRATE}}</td>
           <td>{{outputdata.BACKHAULAVL}}</td>
           <td>{{outputdata.BAQUOTE}}</td>

          <!--  <td>{{outputdata.L1}}</td>
           <td>{{outputdata.L2}}</td>
           <td>{{outputdata.L3}}</td>
           <td>{{outputdata.L4}}</td>
           <td>{{outputdata.L5}}</td>
 -->
           <td>{{outputdata.BACKHAULPERCENT}}</td>
           <td>{{outputdata.APPROVEDAMOUNT}}</td>

          </tr>

        </tbody>
      </table>
    </div>


  </div>
