<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6"><h1><abbr title="Request for praposal">RFP</abbr> output details</h1></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-default" ng-csv="rfpoutput.getArray()" csv-header="['CUSTOMERNAME','CASHACCOUNTID','FROM']" filename="test.csv"> <i class="glyphicon glyphicon-export"></i> Export
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <div>
          {{rfpoutput.nameoutputdata.CUSTOMERNAME}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="address">Address</label>
        <div>
          {{rfpoutput.nameoutputdata.ADDRESS}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="contactdetails">Contact details</label>
        <div>
          {{rfpoutput.nameoutputdata.CONTACTNO}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="contactperson">Contact person</label>
        <div>
          {{rfpoutput.nameoutputdata.CONTACTPERSON}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="totallogisticsspend">Total logistics spend(In Lakhs)</label>
        <div>
          {{rfpoutput.nameoutputdata.TOTALSPEND}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="casshaccountid">CASSH account id</label>
        <div>
          {{rfpoutput.nameoutputdata.CASHACCOUNTID}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="from">From</label>
        <select class="form-control" id="from" ng-model="rfpoutput.filterOption.FROMLOCATIONNAME" ng-options="from.FROMLOCATIONNAME as from.FROMLOCATIONNAME for from in rfpoutput.fromLocationOptions"  >
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="trucktype">Truck Type</label>
        <select class="form-control" id="trucktype" ng-model="rfpoutput.filterOption.VEHICLETYPENAME" ng-options="vehicle.VEHICLETYPENAME as vehicle.VEHICLETYPENAME for vehicle in rfpoutput.vehicleTypeOptions">
        </select>
      </div>
    </div>
    <div class="col-md-2 text-left">
      <button type="button" class="btn btn-primary" ng-click="rfpoutput.ClearFilter()">Clear Filter</button>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-primary" ng-click="rfpoutput.submit()">Submit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
            <th rowspan="2">To</th>
            <th rowspan="2">Cleansheet Rate</th>
            <th rowspan="2">Contract Rate</th>
            <th rowspan="2">ShipEx Rate</th>
            <th rowspan="2">PreviousRFP Rate</th>
            <th rowspan="2">Market Rate</th>
            <th rowspan="2">Backhaul Available</th>
            <th colspan="5" >BA Qute</th>
            <th rowspan="2">Approved Rate</th>
          </tr>
          <tr>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>L4</th>
            <th>L5</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="outputdata in rfpoutput.outputdata | filter:{FROMLOCATIONNAME : rfpoutput.filterOption.FROMLOCATIONNAME, VEHICLETYPENAME : rfpoutput.filterOption.VEHICLETYPENAME}">
            <td>{{outputdata.TOLOCATIONNAME}}</td>
            <td>{{outputdata.CLEANSHEETRATE}}</td>
            <td ng-click="rfpoutput.showModal('contract', outputdata)">{{outputdata.CONTRACTRATE}}</td>
            <td>{{outputdata.SHIPXRATE}}</td>
            <td ng-click="rfpoutput.showModal('rfphistory', outputdata)">{{outputdata.PVSRFPRATE}}</td>
            <td>{{outputdata.MARKETRATE}}</td>
            <td ng-click="rfpoutput.showModal('backhaul', outputdata)">{{outputdata.BACKHAULAVL}}</td>
            <td>{{outputdata.L1}}</td>
            <td>{{outputdata.L2}}</td>
            <td>{{outputdata.L3}}</td>
            <td>{{outputdata.L4}}</td>
            <td>{{outputdata.L5}}</td>
            <td><input type="number" id="approvedAmount" class="form-control" ng-model="outputdata.APPROVEDAMOUNT" value="{{outputdata.APPROVEDAMOUNT}}" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalOutputDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
        Variable Contract Rates
        </h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 60vh">
          <form>
            <div class="fieldset" class="form-group">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-2">
                    From
                  </div>
                  <div class="col-sm-2">
                    To
                  </div>
                  <div class="col-sm-2">
                    Contract Rate
                  </div>
                  <div class="col-sm-4">
                    Vehicle Type
                  </div>
                  <div class="col-sm-2">
                    Pricing
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <b>{{rfpoutput.filterOption.FROMLOCATIONNAME}}</b>
                  </div>
                  <div class="col-sm-2">
                    <b>{{rfpoutput.TOLOCATIONNAME}}</b>
                  </div>
                  <div class="col-sm-2">
                    <b>{{rfpoutput.CONTRACTRATE}}</b>
                  </div>
                  <div class="col-sm-4">
                    <b>{{rfpoutput.filterOption.VEHICLETYPENAME}}</b>
                  </div>
                  <div class="col-sm-2">
                    <b>'Pricing in ('000 INR')</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                  {{rfpoutput.selectedrow}}
                    <table class="table mll-table">
                      <thead>
                        <tr>
                          <th>From</th>
                          <th>To</th>
                          <th>Contract Rate</th>
                          <th>BA Name</th>
                          <th>Customer Name</th>
                          <th>Contract No./ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="griddata in rfpoutput.gridData">

                          <td>
                            <input type="radio" ng-click="rfpoutput.updateContractRate(griddata)"  name="optradio">
                          {{griddata.ORIGIN}}</td>
                          <td>{{griddata.DESTINATION}}</td>
                          <td>{{griddata.FREIGHTRATE}}</td>
                          <td>{{griddata.BANAME}}</td>
                          <td>{{griddata.CUSTOMERNAME}}</td>
                          <td>{{griddata.CONTRACTID}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        Close
        </button>
      </div>
    </div>
  </div>
</div>
