<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
    <h1><abbr title="Request for praposal">RFP</abbr> output details</h1></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-default btn-xs" ng-click="output.export()"> <i class="glyphicon glyphicon-export" ></i> Export
      </button>
    </div>
  </div>
  <div class="row filter-details">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <div>
          {{output.nameoutputdata.CUSTOMERNAME}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <div>
          {{output.nameoutputdata.ADDRESS}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="contactdetails">Contact details</label>
        <div>
          {{output.nameoutputdata.CONTACTNO}}
        </div>
      </div>
    </div>
  </div>
  <div class="row filter-details">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="contactperson">Contact person</label>
        <div>
          {{output.nameoutputdata.CONTACTPERSON}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="totallogisticsspend">Total logistics spend(In Lakhs)</label>
        <div>
          {{output.nameoutputdata.TOTALSPEND}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="casshaccountid">CA$$H account ID</label>
        <div>
          {{output.nameoutputdata.CASHACCOUNTID}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row filter-margin">
    <div class="col-md-8">
      <div class="form-inline">
        <div class="form-group">
          <label class="form-label" for="from">From</label>
          <select class="form-control input-sm"  id="from" ng-model="output.filterOption.FROMLOCATIONNAME" ng-options="from.FROMLOCATIONNAME as from.FROMLOCATIONNAME for from in output.fromLocationOptions" ng-change="output.changeLocation()"  >
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="trucktype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Truck Type</label>
          <select class="form-control input-sm" id="trucktype" ng-model="output.filterOption.VEHICLETYPENAME" ng-options="vehicle.VEHICLETYPENAME as vehicle.VEHICLETYPENAME for vehicle in output.vehicleTypeOptions">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-right">
      <span class="unit">All pricing in ('000 INR)</span>
    </div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary" ng-click="output.submit()">Submit</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
            <th rowspan="2">To</th>
            <th rowspan="2">Cleansheet Rate</th>
            <th rowspan="2">Contract Rate</th>
            <th rowspan="2">ShipX Rate</th>
            <th rowspan="2">Previous RFP Rate</th>
            <th rowspan="2">Market Rate</th>
            <th rowspan="2">Backhaul Available</th>
            <th colspan="5" class="table-colspan-header">BA Quote</th>
            <th rowspan="2" class="table-colspan-header-sm" > Approved Rate</th>
          </tr>
          <tr>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>L4</th>
            <th>L5</th>
          </tr>
        </thead>
        <tbody>
          <tr  ng-repeat="outputdata in output.outputdata | filter:{FROMLOCATIONNAME : output.filterOption.FROMLOCATIONNAME, VEHICLETYPENAME : output.filterOption.VEHICLETYPENAME}">
            <td>{{outputdata.TOLOCATIONNAME}}</td>
            <!--  <td>{{outputdata.FROMLOCATIONNAME}}</td>
            <td>{{outputdata.VEHICLETYPENAME}}</td> -->
            <td ng-class="output.changecolor(outputdata.CLEANSHEETRATE,outputdata.APPROVEDAMOUNT)" >{{outputdata.CLEANSHEETRATE/1000 | number : 2}}</td>
            <td ng-click="output.showModal('contract', outputdata, 'CONTRACTRATE')" ng-class="output.changecolor(outputdata.CONTRACTRATE,outputdata.APPROVEDAMOUNT)">{{outputdata.CONTRACTRATE/1000 | number : 2}}</td>
            <td ng-class="output.changecolor(outputdata.SHIPXRATE,outputdata.APPROVEDAMOUNT)">{{outputdata.SHIPXRATE/1000}}</td>
            <td ng-click="output.showModal('rfphistory', outputdata, 'PVSRFPRATE')" ng-class="output.changecolor(outputdata.PVSRFPRATE,outputdata.APPROVEDAMOUNT)">{{outputdata.PVSRFPRATE/1000 | number : 2}}</td>
            <td ng-class="output.changecolor(outputdata.MARKETRATE,outputdata.APPROVEDAMOUNT)">{{outputdata.MARKETRATE/1000 | number : 2}}</td>
            <td ng-click="output.showModal('backhaul', outputdata, 'BACKHAULAVL')">{{outputdata.BACKHAULAVL}}</td>
            <td>{{outputdata.L1}}</td>
            <td>{{outputdata.L2}}</td>
            <td>{{outputdata.L3}}</td>
            <td>{{outputdata.L4}}</td>
            <td>{{outputdata.L5}}</td>
            <td><input type="number" id="approvedAmount" class="form-control" ng-model="outputdata.APPROVEDAMOUNT" value="{{outputdata.APPROVEDAMOUNT}}" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalOutputDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
        <b>VARIABLE CONTRACT RATES FOR </b>
        </h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 60vh">
          <form>
              <div class="container-fluid">
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="form-label" for="from">From</label>
                    <div>
                      <b>{{output.filterOption.FROMLOCATIONNAME}}</b>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="form-label" for="to">To</label>
                    <div>
                      <b>{{output.TOLOCATIONNAME}}</b>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="form-label" for="contractrate">Contract Rate</label>
                    <div>
                      <b>{{output.CONTRACTRATE/1000 | number : 2 }}</b>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="vehicletype">Vehicle Type</label>
                    <div>
                      <b>{{output.filterOption.VEHICLETYPENAME}}</b>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <div>
                      <span class="unit">*Pricing in (000 INR)</span>
                    </div>
                  </div>
                </div>
                <br><hr/>
                <div class="form-divider"></div>
                <div class="row">
                  <div class="col-sm-12">
                    {{output.selectedrow}}
                    <table class="table mll-table">
                      <thead>
                        <tr>
                          <th>From</th>
                          <th>To</th>
                          <th>Contract Rate</th>
                          <th>BA Name</th>
                          <th>Customer Name</th>
                          <th>Contract No./ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="griddata in output.gridData">
                          <td>
                            <input type="radio" ng-click="output.updateContractRate(griddata)"  name="optradio">
                          {{griddata.ORIGIN}}</td>
                          <td>{{griddata.DESTINATION}}</td>
                          <td>{{griddata.FREIGHTRATE}}</td>
                          <td>{{griddata.BANAME}}</td>
                          <td>{{griddata.CUSTOMERNAME}}</td>
                          <td>{{griddata.CONTRACTID}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">
        Close
        </button>
      </div>

    </div>
  </div>
</div>
