<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
    <h1><abbr title="Request for praposal">RFP</abbr> output details</h1></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-default btn-xs" ng-click="output.export()"> <i class="glyphicon glyphicon-export"></i> Export
      </button>
    </div>
  </div>
  <div class="row filter-details">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <div>
          {{output.nameoutputdata.CUSTOMERNAME}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <div>
          {{output.nameoutputdata.ADDRESS}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="contactdetails">Contact details</label>
        <div>
          {{output.nameoutputdata.CONTACTNO}}
        </div>
      </div>
    </div>
  </div>
  <div class="row filter-details">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="contactperson">Contact person</label>
        <div>
          {{output.nameoutputdata.CONTACTPERSON}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="totallogisticsspend">Total logistics spend(In Lakhs)</label>
        <div>
          {{output.nameoutputdata.TOTALSPEND}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="casshaccountid">CA$$H account ID</label>
        <div>
          {{output.nameoutputdata.CASHACCOUNTID}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row filter-margin">
    <div class="col-md-8">
      <div class="form-inline">
        <div class="form-group">
          <label class="form-label" for="from">From&nbsp;</label>
          <select class="form-control input-sm" id="from" ng-model="output.filterOption.FROMLOCATIONNAME" ng-options="from.FROMLOCATIONNAME as from.FROMLOCATIONNAME for from in output.fromLocationOptions" ng-change="output.changeLocation()">
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="trucktype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Truck Type&nbsp;</label>
          <select class="form-control input-sm" id="trucktype" ng-model="output.filterOption.VEHICLETYPENAME" ng-options="vehicle.VEHICLETYPENAME as vehicle.VEHICLETYPENAME for vehicle in output.vehicleTypeOptions">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-right">
      <span class="unit">All pricing in ('000 INR)</span>
    </div>
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-primary" ng-click="output.submit()">Submit</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
            <th rowspan="2" class="whitecol">To</th>
            <th rowspan="2">Cleansheet Rate</th>
            <th rowspan="2">Contract Rate</th>
            <th rowspan="2">ShipX Rate</th>
            <th rowspan="2">Previous RFP Rate</th>
            <th rowspan="2">Market Rate</th>
            <th rowspan="2">Backhaul Available</th>
            <th colspan="5" class="table-colspan-header">BA Quote</th>
            <th rowspan="2" class="table-colspan-header-sm  whitecol"> Approved Rate</th>
          </tr>
          <tr>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>L4</th>
            <th>L5</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="outputdata in output.outputdata | filter:{FROMLOCATIONNAME : output.filterOption.FROMLOCATIONNAME, VEHICLETYPENAME : output.filterOption.VEHICLETYPENAME}">
            <td class="whitecol">{{outputdata.TOLOCATIONNAME}} <br>{{outputdata.TOSTATECODE}}</td>

            <td ng-class="output.changecolor(outputdata.CLEANSHEETRATE,outputdata.APPROVEDAMOUNT)" class="number-center">{{outputdata.CLEANSHEETRATE/1000 | number : 2}}</td>
            <td ng-click="output.showModal('contract', outputdata, 'CONTRACTRATE')" ng-class="output.changecolor(outputdata.CONTRACTRATE,outputdata.APPROVEDAMOUNT)" class="number-center">{{outputdata.CONTRACTRATE/1000 | number : 2}}</td>
            <td ng-class="output.changecolor(outputdata.SHIPXRATE,outputdata.APPROVEDAMOUNT)" class="number-center">{{outputdata.SHIPXRATE/1000}}</td>
            <td ng-click="output.showModal('rfphistory', outputdata, 'PVSRFPRATE')" ng-class="output.changecolor(outputdata.PVSRFPRATE,outputdata.APPROVEDAMOUNT)" class="number-center">{{outputdata.PVSRFPRATE/1000 | number : 2}}</td>
            <td ng-class="output.changecolor(outputdata.MARKETRATE,outputdata.APPROVEDAMOUNT)" class="number-center">{{outputdata.MARKETRATE/1000 | number : 2}}</td>
            <td ng-click="output.showModal('backhaul', outputdata, 'BACKHAULAVL')" class="number-center">{{outputdata.BACKHAULAVL}}</td>
            <td class="number-center">{{outputdata.L1}}</td>
            <td class="number-center">{{outputdata.L2}}</td>
            <td class="number-center">{{outputdata.L3}}</td>
            <td class="number-center">{{outputdata.L4}}</td>
            <td class="number-center">{{outputdata.L5}}</td>
            <td class="whitecol">
              <input type="number" id="approvedAmount" class="form-control" ng-model="outputdata.APPROVEDAMOUNT" value="{{outputdata.APPROVEDAMOUNT}}" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalOutputDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">

        <b>VARIABLE CONTRACT RATES FOR</b>

        </h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 60vh">
          <form>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table mll-table">
                    <thead>
                      <tr class="mll-table-rate">
                        <td>
                          <span class="mll-table-label">From</span>
                          <br>
                          <span class="mll-table-value">{{output.filterOption.FROMLOCATIONNAME}}</span>
                        </td>
                        <td>
                          <span class="mll-table-label">To</span>
                          <br>
                          <span class="mll-table-value">{{output.TOLOCATIONNAME}}</span>
                        </td>
                        <td>
                          <div class="highlight-rate">
                            <div class="form-group">
                              <span class="mll-table-label exclude">Contract Rate</span>
                              <br>
                              <span class="mll-table-value exclude">{{output.CONTRACTRATE/1000 | number : 2}}</span>
                            </div>
                          </div>
                          <div class="arrow-down"></div>
                        </td>
                        <td>
                          <span class="mll-table-label">Vehicle Type</span>
                          <br>
                          <span class="mll-table-value">{{output.filterOption.VEHICLETYPENAME}}</span>
                        </td>
                        <td>
                          <span class="mll-table-label"></span>
                          <span class="mll-table-value"></span>
                        </td>
                        <td>
                          <span class="unit">Pricing in ('000 INR)</span>
                        </td>
                      </tr>
                      <tr>
                        <th>From</th>
                        <th>To</th>
                        <th class="highlight">Contract Rate</th>
                        <th>BA Name</th>
                        <th>Customer Name</th>
                        <th>Contract No./ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="rate-details" ng-repeat="griddata in output.gridData">
                        <td>
                          <div class="form-inline">
                            <input type="radio" ng-click="output.updateContractRate(griddata)" name="optradio" class="radio-rate">
                            <div class="form-group">
                              <span> {{griddata.ORIGIN}}</span>
                              <br><span> {{griddata.ORIGINSTATE}}</span>
                            </div>
                          </div>
                        </td>
                        <td>{{griddata.DESTINATION}}
                        <br> {{griddata.DESTINATIONSTATE}}</td>
                        <td class="highlight number-center">{{griddata.FREIGHTRATE/1000 | number : 2}}</td>
                        <td>{{griddata.BANAME}}</td>
                        <td>{{griddata.CUSTOMERNAME}}</td>
                        <td>{{griddata.CONTRACTID}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">
        Close
        </button>
      </div>
    </div>
  </div>
</div>
