<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1><abbr title="Request for praposal">RFP</abbr> output details</h1></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-default btn-xs" ng-click="output.exportBAQuote()"> <i class="glyphicon glyphicon-export"></i> Export BA QUOTE Template
      </button>
      <button class="btn btn-default btn-xs" ng-click="output.export()"><i class="glyphicon glyphicon-export"></i> Export
      </button>
    </div>
  </div>
  <div class="row filter-details">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <div>
          {{output.nameoutputdata.CUSTOMERNAME}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <div>
          {{output.nameoutputdata.ADDRESS}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="contactdetails">Contact details</label>
        <div>
          {{output.nameoutputdata.CONTACTNO}}
        </div>
      </div>
    </div>
  </div>
  <div class="row filter-details">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="contactperson">Contact person</label>
        <div>
          {{output.nameoutputdata.CONTACTPERSON}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="totallogisticsspend">Total logistics spend(In Lakhs)</label>
        <div>
          {{output.nameoutputdata.TOTALSPEND}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label" for="casshaccountid">CA$$H account ID</label>
        <div>
          {{output.nameoutputdata.CASHACCOUNTID}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row filter-margin">
    <div class="col-md-6">
      <div class="form-inline">
        <div class="form-group">
          <label class="form-label" for="from">From&nbsp;</label>
          <select class="form-control input-sm" id="from" ng-model="output.filterOption.FROMLOCATIONNAME" ng-options="from.FROMLOCATIONNAME as from.FROMLOCATIONNAME for from in output.fromLocationOptions" ng-change="output.changeLocation()">
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="trucktype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Truck Type&nbsp;
          </label>
          <select class="form-control input-sm" id="trucktype" ng-model="output.filterOption.VEHICLETYPENAME" ng-options="vehicle.VEHICLETYPENAME as vehicle.VEHICLETYPENAME for vehicle in output.vehicleTypeOptions">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-right">
      <span class="unit">All pricing in ('000 INR)</span>
    </div>
    <div class="col-md-3 text-right">
      <button class="btn btn-primary" ng-click="output.submit()"> Submit for approval
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
            <th rowspan="2" class="whitecol">To</th>
            <th colspan="3" class="table-colspan-header">Reference Rate</th>
            <th colspan="2" class="table-colspan-header">Contract Rate</th>
            <th rowspan="2">Backhaul
              <br> Available</th>
            <th colspan="5" class="table-colspan-header">BA Rate</th>
            <th rowspan="2" class="table-colspan-header-sm whitecol">Proposed</th>
            <th rowspan="2" class="table-colspan-header-sm whitecol"></th>
          </tr>
          <tr>
            <th class="number-center">Cleansheet</th>
            <th class="number-center">Market</th>
            <th class="number-center">Past RFP</th>
            <th class="number-center">DB</th>
            <th class="number-center">ShipX</th>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>L4</th>
            <th>L5</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="route in output.outputdata | filter:{FROMLOCATIONNAME : output.filterOption.FROMLOCATIONNAME, VEHICLETYPENAME : output.filterOption.VEHICLETYPENAME}">
            <td class="whitecol">
              <strong>{{route.TOLOCATIONNAME}}</strong>
              <br>{{route.TOSTATECODE}}
            </td>
            <td ng-class="output.changecolor(route.CLEANSHEETRATE,route.APPROVEDAMOUNT)" class="text-center fixed-width-col">
              <span>{{route.CLEANSHEETRATE/1000 | number : 2}}</span>
            </td>
            <td ng-class="output.changecolor(route.MARKETRATE,route.APPROVEDAMOUNT)" class="text-center fixed-width-col">
              <span>{{route.MARKETRATE/1000 | number : 2}}</span>
            </td>
            <td ng-click="output.showModal('rfphistory', route, 'PVSRFPRATE', 'RFP Rate', 'RFP RATES')" ng-class="output.changecolor(route.PVSRFPRATE,route.APPROVEDAMOUNT)" class="text-center fixed-width-col open-popup">
              <span>{{route.PVSRFPRATE/1000 | number : 2}}</span>
            </td>
            <td ng-click="output.showModal('contract', route, 'CONTRACTRATE', 'Contract Rate', 'CONTRACT RATES')" ng-class="output.changecolor(route.CONTRACTRATE,route.APPROVEDAMOUNT)" class="text-center fixed-width-col open-popup">
              <span class="mll-table-label">{{route.CONTRACTRATE/1000 | number : 2}}</span>
              <!--<i ng-show="(route.ISBAPROXIMITY === 'N') ? false : true" class="label-sticky">Px
              </i>-->
            </td>
            <td ng-class="output.changecolor(route.SHIPXRATE,route.APPROVEDAMOUNT)" class="text-center fixed-width-col">
              <span class="mll-table-label">{{route.SHIPXRATE/1000 | number : 2}}</span>
            </td>
            <td ng-click="output.showModal('backhaul', route, 'NOOFTRIPS', 'Backhaul', 'BACKHAUL RATES')" class="text-center fixed-width-col open-popup">
              <span ng-class="{'Y' : 'glyphicon glyphicon-ok' ,  'N' : ''}[route.BACKHAULAVL]" title="{{route.BACKHAULAVL}}"></span>
              <!--<i ng-show="(route.ISBACKHAULPROXIMITY === 'N') ? false : true" class="label-sticky">Px
              </i>-->
            </td>
            <td class="text-center">
              <input type="number" class="form-control mll-table-input" id="l1rate" ng-model="route.L1RATE" />
              <hr/>
              <span title="{{route.L1BANAME}}" class="mll-table-label">{{route.L1BANAME | limitTo:10}}</span>
            </td>
            <td class="text-center">
              <input type="number" class="form-control mll-table-input" id="l2rate" ng-model="route.L2RATE" />
              <hr/>
              <span title="{{route.L2BANAME}}" class="mll-table-label">{{route.L2BANAME | limitTo:10}}</span>
            </td>

            <td class="text-center">
              <input type="number" class="form-control mll-table-input" id="l3rate" ng-model="route.L3RATE" />
              <hr/>
              <span title="{{route.L3BANAME}}" class="mll-table-label">{{route.L3BANAME | limitTo:10}}</span>
            </td>
            <td class="text-center">
              <input type="number" class="form-control mll-table-input" id="l4rate" ng-model="route.L4RATE" />
              <hr/>
              <span title="{{route.L4BANAME}}" class="mll-table-label">{{route.L4BANAME | limitTo:10}}</span>
            </td>
            <td class="text-center">
              <input type="number" class="form-control mll-table-input" id="l5rate" ng-model="route.L5RATE" />
              <hr/>
              <span title="{{route.L5BANAME}}" class="mll-table-label">{{route.L5BANAME | limitTo:10}}</span>
            </td>
            <td class="whitecol">
              <span ng-bind="route.APPROVEDAMOUNT|number : 2"></span>
              <hr/>
              <span ng-bind="route.BANAME" class="mll-table-label"></span>
            </td>
            <td class="whitecol">
              <!--<input class="form-control mll-table-input" type="number" id="approvedAmount"
                ng-model="route.APPROVEDAMOUNT" value="{{route.APPROVEDAMOUNT}}"/>-->
              <!-- Split button -->
              <div class="btn-group dropup">
                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a ng-click="output.updateProposedRate(route, 'CONTRACTRATE', '')"><span class="label label-default label-thin">{{route.CONTRACTRATE/1000 | number : 2}}</span>&nbsp;<small>DB, {{}}</small></a></li>
                  <li><a ng-click="output.updateProposedRate(route, 'SHIPXRATE', '')"><span class="label label-default label-thin">{{route.SHIPXRATE/1000 | number : 2}}</span>&nbsp;<small>ShipX, {{}}</small></a></li>
                  <li><a ng-click="output.updateProposedRate(route, 'PVSRFPRATE', '')"><span class="label label-default label-thin">{{route.PVSRFPRATE/1000 | number : 2}}</span>&nbsp;<small>RFP, {{}}</small></a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="output.updateProposedRate(route, 'L1RATE', 'L1BANAME')"><span class="label label-default label-thin">{{route.L1RATE}}</span>&nbsp;<small>L1, {{route.L1BANAME}}</small></a></li>
                  <li><a ng-click="output.updateProposedRate(route, 'L2RATE', 'L2BANAME')"><span class="label label-default label-thin">{{route.L2RATE}}</span>&nbsp;<small>L2, {{route.L2BANAME}}</small></a></li>
                  <li><a ng-click="output.updateProposedRate(route, 'L3RATE', 'L3BANAME')"><span class="label label-default label-thin">{{route.L3RATE}}</span>&nbsp;<small>L3, {{route.L3BANAME}}</small></a></li>
                  <li><a ng-click="output.updateProposedRate(route, 'L4RATE', 'L4BANAME')"><span class="label label-default label-thin">{{route.L4RATE}}</span>&nbsp;<small>L4, {{route.L4BANAME}}</small></a></li>
                  <li><a ng-click="output.updateProposedRate(route, 'L5RATE', 'L5BANAME')"><span class="label label-default label-thin">{{route.L5RATE}}</span>&nbsp;<small>L5, {{route.L5BANAME}}</small></a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalOutputDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
          {{output.modalHeaderName}}
          </h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 60vh">
          <form>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table mll-table">
                    <thead>
                      <tr class="mll-table-rate">
                        <td>
                          <span class="mll-table-label">From</span>
                          <br>
                          <span class="mll-table-value">{{output.filterOption.FROMLOCATIONNAME}}</span>
                        </td>
                        <td>
                          <span class="mll-table-label">To</span>
                          <br>
                          <span class="mll-table-value">{{output.TOLOCATIONNAME}}</span>
                        </td>
                        <td>
                          <div class="highlight-rate">
                            <div class="form-group">
                              <span class="mll-table-label exclude">{{output.colName}}</span>
                              <br>
                              <span class="mll-table-value exclude">{{output.CONTRACTRATE/1000 | number : 2}}</span>
                            </div>
                          </div>
                          <div class="arrow-down"></div>
                        </td>
                        <td>
                          <span class="mll-table-label">Vehicle Type</span>
                          <br>
                          <span class="mll-table-value">{{output.filterOption.VEHICLETYPENAME}}</span>
                        </td>
                        <td>
                          <span class="mll-table-label"></span>
                          <span class="mll-table-value"></span>
                        </td>
                        <td>
                          <span class="mll-table-label" ng-hide="true">Unit</span>
                          <br>
                          <span class="unit pull-right">Pricing in ('000 INR)</span>
                        </td>
                      </tr>
                      <tr>
                        <th>From</th>
                        <th>To</th>
                        <th class="highlight">{{output.colName}}</th>
                        <th>BA Name</th>
                        <th>Customer Name</th>
                        <th>Contract No./ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="rate-details" ng-repeat="griddata in output.gridData | orderBy : 'FREIGHTRATE'">
                        <td>
                          <div class="form-inline">
                            <input type="radio" ng-click="output.updateContractRate(griddata, 'REGULAR')" name="optradio" class="radio-rate">
                            <div class="form-group">
                              <span> {{griddata.ORIGIN}}</span>
                              <br><span> {{griddata.ORIGINSTATE}}</span>
                            </div>
                          </div>

                        </td>
                        <td>{{griddata.DESTINATION}}
                          <br> {{griddata.DESTINATIONSTATE}}
                        </td>
                        <td class="highlight number-center">
                          <span class="mll-table-label">{{griddata.FREIGHTRATE/1000 | number : 2}}</span>
                          <!--<i ng-show="(route.ISBAPROXIMITY === 'N') ? false : true" class="label-sticky">Px
                          </i>-->
                        </td>
                        <td>{{griddata.BANAME}}</td>
                        <td>{{griddata.CUSTOMERNAME}}</td>
                        <td>{{griddata.CONTRACTID}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalOutputDetailsForBackHaul" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
          <b>{{output.modalHeaderName}}</b>
          </h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 60vh">
          <form>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table mll-table">
                    <thead>
                      <tr class="mll-table-rate">
                        <td>
                          <span class="mll-table-label">From</span>
                          <br>
                          <span class="mll-table-value">{{output.filterOption.FROMLOCATIONNAME}}</span>
                        </td>
                        <td>
                          <span class="mll-table-label">To</span>
                          <br>
                          <span class="mll-table-value">{{output.TOLOCATIONNAME}}</span>
                        </td>
                        <td>
                          <div class="highlight-rate">
                            <div class="form-group">
                              <span class="mll-table-label exclude">{{output.colName}}</span>
                              <br>
                              <span class="mll-table-value exclude"></span>
                            </div>
                          </div>
                          <div class="arrow-down"></div>
                        </td>
                        <td>
                          <span class="mll-table-label">Vehicle Type</span>
                          <br>
                          <span class="mll-table-value">{{output.filterOption.VEHICLETYPENAME}}</span>
                        </td>
                        <td>
                          <span class="mll-table-label"></span>
                          <span class="mll-table-value"></span>
                        </td>
                        <td>
                          <span class="mll-table-label" ng-hide="true">Unit</span>
                          <br>
                          <span class="unit pull-right">Pricing in ('000 INR)</span>
                        </td>
                      </tr>
                      <tr>
                        <th>From</th>
                        <th>To</th>
                        <th class="highlight">{{output.colName}}</th>
                        <th>BA Name</th>
                        <th>Customer Name</th>
                        <th>Contract No./ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="rate-details" ng-repeat="griddata in output.gridData | orderBy : 'FREIGHTRATE'">
                        <td>
                          <div class="form-inline">
                            <div class="form-group">
                              <span> {{griddata.ORIGIN}}</span>
                              <br><span> {{griddata.ORIGINSTATE}}</span>
                            </div>
                          </div>
                        </td>
                        <td>{{griddata.DESTINATION}}
                          <br> {{griddata.DESTINATIONSTATE}}
                        </td>
                        <td>{{griddata.NOOFTRIPS}}
                          <!--<i ng-show="(route.ISBACKHAULPROXIMITY === 'N') ? false : true" class="label-sticky">Px
                          </i>-->
                        </td>
                        <td>{{griddata.BANAME}}</td>
                        <td>{{griddata.CUSTOMERNAME}}</td>
                        <td>{{griddata.CONTRACTID}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
