<div ng-init="overall.init()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
      <h1>Create new <abbr title="Request for praposal">RFP</abbr></h1></div>
      <div class="col-sm-4 text-center">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default btn-rounded active">
            <input name="togglebutton" disabled="true" type="checkbox" autocomplete="off" checked>Overall Details
          </label>
          <label class="btn btn-default btn-rounded">
            <input name="togglebutton" disabled="true" type="checkbox" autocomplete="off"> Lane Details
          </label>
        </div>
      </div>
    </div>
    <div class="form-divider"></div>
  </div>
  <form ng-submit="overall.addRfpHeader()">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <fieldset class="fieldset">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <legend class="legend top-legend">
                    CUSTOMER DETAILS
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Add Customer</button>
                  </legend>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" title="required" for="name">Customer <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <select class="form-control input-sm" id="name" ng-model="overall.customer" ng-options="CUSTOMER as CUSTOMER.CUSTOMERNAME for CUSTOMER in overall.CUSTOMERNAME_option  | orderBy: 'CUSTOMERNAME' " required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contact">Contact details</label>
                    <input type="text" class="form-control input-sm" id="contact" placeholder="Contact" ng-model="overall.customer.CONTACTNO" ng-disabled="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactperson">Contact person</label>
                    <input type="text" class="form-control input-sm" id="contactperson" placeholder="Contact person" ng-model="overall.customer.CONTACTPERSON" ng-disabled="true">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="address">Address</label>
                    <input type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="overall.customer.ADDRESS" ng-disabled="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="totallogistics">Total logistics spend(In Lakhs)</label>
                    <input type="text" class="form-control input-sm" id="totallogistics" placeholder="Total logistics spend(In Lakhs)" ng-model="overall.customer.TOTALSPEND" ng-disabled="true">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" title="required" for="cashaccountid">CA$$H Account ID <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="text" class="form-control input-sm" id="cashaccountid" placeholder="CA$$H account id" ng-required="true" ng-model="overall.customer.CASHACCOUNTID" ng-disabled="true">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <legend class="legend">RFP DETAILS</legend>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="casshopportunityid">CA$$H Opportunity ID <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="text" class="form-control input-sm" id="casshopportunityid" placeholder="CA$$H Opportunity ID" ng-required="true" ng-model="overall.overall.CASHOPPID">
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="rfpvalue">RFP value (In Lakhs)<i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="number" step="0.01" class="form-control input-sm" id="rfpvalue" ng-required="true" placeholder="RFP value(In Lakhs)">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" title="required" for="description">Description <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="text" class="form-control input-sm" id="description" placeholder="Description" ng-required="true" ng-model="overall.overall.RFPDESC">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="recivedate">Receive date <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="date" class="form-control input-sm" id="recivedate" placeholder="yyyy-MM-dd" ng-required="true" ng-model="overall.overall.STARTDATE">
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="duedate">Due date <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="date" class="form-control input-sm" id="duedate" placeholder="Due date" ng-required="true" ng-model="overall.overall.DUEDATE">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="productdescription">Product description</label>
                    <input type="text" class="form-control input-sm" id="productdescription" placeholder="Product description" ng-model="overall.overall.PRODUCTDESC">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <legend class="legend">OPERATION DESCRIPTION</legend>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="cargotype">Cargo Type <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <select class="form-control input-sm" id="cargotype" ng-required="true" ng-model="overall.overall.CARGOTYPE" ng-options="CARGO.name as CARGO.val for CARGO in overall.CARGOTYPE_option" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="movmenttype">Movement Type</label>
                    <select class="form-control input-sm" id="movmenttype" ng-model="overall.overall.DISTRIBUTIONTYPE" ng-options="movmenttype.name as movmenttype.val for movmenttype in overall.DISTRIBUTIONTYPE_option">
                    </select>
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="multipointpickupdrop">Multi-point pickup / drop</label>
                    <select class="form-control input-sm" id="multipointpickupdrop" ng-model="overall.overall.ISMULTIDROP" ng-options="ISMULTI.val as ISMULTI.name for ISMULTI in overall.ISMULTIDROP_option">
                    </select>
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="warehousingrequirment">Warehousing requirment <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <select class="form-control input-sm" id="warehousingrequirment" ng-required="true" ng-model="overall.overall.ISHUBORWHREQ" ng-options="ISHUB.val as ISHUB.name for ISHUB in overall.ISHUBORWHREQ_option">
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="inboundoutbound">Inbound / outbound <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <select class="form-control input-sm" id="inboundoutbound" ng-required="true" ng-model="overall.overall.OPPRDOMAIN" ng-options="inboundoutbound.name as inboundoutbound.val for inboundoutbound in overall.OPPRDOMAIN_option" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="distance">Proximity (%)</label>
                    <input t
                    ype="number" min="0" max="100" maxlength="3" class="form-control input-sm" id="distance" placeholder="Distance" ng-model="overall.overall.PROXIDISTANCE">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <legend class="legend">CLEANSHEET ASSUMPTIONS</legend>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="form-group">
                    <label class="form-label" title="required" for="paymentterms">Payment terms (days) <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <select class="form-control input-sm" id="paymentterms" ng-model="overall.overall.PAYMENTTERM" ng-options="payment.name as payment.val for payment in overall.PAYMENTTERM_option"></select>
                  <!--  <input type="number" class="form-control input-sm" id="paymentterms" placeholder="Payment terms" ng-model="overall.overall.PAYMENTTERM"> -->
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="diselrate">Diesel rate (Rs/Litre)</label>
                  <input type="number" step="0.01" maxlength="5" class="form-control input-sm" id="diselrate" placeholder="Diesel rate (Rs/Litre) " ng-model="overall.overall.DIESELRATE">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="ageofvehicles">Age of vehicles (yrs)</label>
                <select class="form-control input-sm" id="ageofvehicles" ng-model="overall.overall.AGEOFTRUCK" ng-options="age.name as age.val for age in overall.AGEOFTRUCK_option"></select>
              </div>
            </div>
            <!-- <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-label" for="distance">Proximity distance (%)</label>
                <input t
                ype="number" min="0" max="100" maxlength="3" class="form-control input-sm" id="distance" placeholder="Distance" ng-model="overall.overall.PROXIDISTANCE">
              </div>
            </div> -->
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <legend class="legend">COMMERCIAL DETAILS</legend>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" title="required" for="unitofrate">Unit of rate <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                  <select class="form-control input-sm" id="unitofrate" ng-required="true" ng-model="overall.overall.RATEUOM" ng-options="UOM.name as UOM.val for UOM in overall.RATEUOM_option">
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="penalties">Penalties</label>
                  <input type="text" class="form-control input-sm" id="penalties" placeholder="" ng-model="overall.overall.PENALITIES">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="detention">Detention</label>
                  <input type="text" class="form-control input-sm" id="detention" placeholder=" " ng-model="overall.overall.DETENTION">
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="form-group">
                  <label class="form-label" for="loadingunloadingtime">Loading unloading time (days)</label>
                  <input type="number" class="form-control input-sm" id="loadingunloadingtime" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Add Cusomer -->
<form ng-submit="overall.addCustomer()">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
      </div>
      <div class="modal-body">

          <div class="fieldset" class="form-group">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="customercode">Customer code <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="text" class="form-control input-sm" id="customercode" placeholder="Customer code" ng-model="overall.newCustomer.CUSTOMERCODE" ng-required="true">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="customername">Customer name <i class="glyphicon glyphicon-asterisk icon-required"></i></label>
                    <input type="text" class="form-control input-sm" id="customername" placeholder="Customer name" ng-model="overall.newCustomer.CUSTOMERNAME" ng-required="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="address">Address</label>
                    <textarea type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="overall.newCustomer.ADDRESS" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="overall.newCustomer.EMAIL" ng-required="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactperson">Contact person</label>
                    <input type="text" class="form-control input-sm" id="contactperson" placeholder="Contact person" ng-model="overall.newCustomer.CONTACTPERSON">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactno">Contact no</label>
                    <input type="number" class="form-control input-sm" id="contactno" placeholder="Contact no" ng-model="overall.newCustomer.CONTACTNO">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" title="required" for="casshaccountid">CA$$H Account ID <i class="glyphicon glyphicon-asterisk icon-required"></i></i></label>
                    <input type="text" class="form-control input-sm" id="cashaccid" placeholder="CA$$H Account ID" ng-model="overall.newoppCustomer.CASHACCOUNTID" ng-required="true">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label" for="contactno">Total logistics spend(In Lakhs)</label>
                    <input type="number" class="form-control input-sm" id="totalspend" placeholder="Total Spend" ng-model="overall.newCustomer.TOTALSPEND">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" ng-if="overall.editingIndex==null" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Add Cusomer -->
