<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"><h1>Dashboard</div>

    <div class="col-sm-8 text-right">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for customer name" ng-model="searchText.CUSTOMERNAME">
        </div>
        <button type="button" class="btn btn-primary" ng-click="rfpdash.CreateRFP()"> <i class="glyphicon glyphicon-plus"></i>   Create New RFP</button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
          <th>Client Name</th>
            <th>Received Date</th>
             <th>Due Date</th>
            <th>RFP Value ('000 INR')</th>
            <th>Status</th>
             <th>RFP ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dashboarddata in rfpdash.dashboarddata  | filter:searchText" ng-click="rfpdash.click(dashboarddata.RFPID)">
            <td>{{dashboarddata.CUSTOMERNAME}}</td>
            <td>{{dashboarddata.RFPDATE  |  date:"dd/MM/yyyy"}}</td>
            <td>{{dashboarddata.DUEDATE | date: 'dd/MM/yyyy'}}</td>
            <td>{{dashboarddata.RFPAMOUNT / 1000 | number:1 }}</td>
            <td>{{dashboarddata.ACTIVE}}</td>
            <td>{{dashboarddata.RFPCODE}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
