<div class="container-fluid" ng-init="dash.init()">
  <div class="row">
    <div class="col-sm-4"><h1>Dashboard</div>
    <div class="col-sm-4">
      <div class="right-inner-addon ">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control input-placeholder search-form" placeholder="Search for customer name"  ng-model="searchText.CUSTOMERNAME"/>
      </div>
    </div>
    <div class="col-sm-4 text-right">
      <button type="button" class="btn btn-primary" ng-click="dash.createRFP()">
      <i class="glyphicon glyphicon-plus"></i> &nbsp;Create New RFP
      </button>
    </div>
  </div>
  <div class="row" style="padding-top: 10px">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
            <th>Client Name</th>
            <th>Received Date</th>
            <th>Due Date</th>
            <th>RFP Value (In Lakhs)</th>
            <th>Status</th>
            <th>RFP ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rfp in dash.rfps  | filter:searchText" ng-click="dash.click(rfp.RFPID)">
            <td>{{rfp.CUSTOMERNAME}}</td>
            <td>{{rfp.RFPDATE  |  date:"dd-MMM-yyyy"}}</td>
            <td>{{rfp.DUEDATE | date: 'dd-MMM-yyyy'}}</td>
            <td class="number-right">{{rfp.RFPAMOUNT  | number:1 }}</td>
            <td>{{rfp.ACTIVE}}</td>
            <td>{{rfp.RFPCODE}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
